{% extends 'base/body.html' %}
{% load static %}
{% block content %}
<section class="register-photo" style="background: rgba(251,251,251,0);">
    <div class="form-container">
        
        <form method="POST" action="." style="height: 525px;">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{action}}">
            <input type="hidden" name="next" value="{{next}}">
            <h2 class="text-center"><strong>{{title}}</strong>.</h2>
            <div>
                <input class="form-control" type="text" name="username" id="register_name" placeholder="Usuario" style="margin-bottom: 10px;">
            </div>
            <div>
                <input class="form-control" type="password" id="password_register" name="password1" placeholder="Contraseña" style="margin-top: 10px;">
            </div>
            <div>
                <input class="form-control" type="password" id="confirmPassword_register" name="password2" placeholder="Repetir contraseña" style="margin-top: 10px;">
            </div>
            
            <div class="form-group mb-3">
                <button class="btn btn-primary d-block w-100" data-bss-hover-animate="pulse" id="submitButton" type="submit" style="color: rgb(255,255,255);background-color: #00b5a8;box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.81);">Crear cuenta</button>
            </div>
            <a class="already" href="{% url 'users:login' %}">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </form>
        <script>
            {% if form.errors %}
                var errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{error}}\n';  
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{error}}\n';
                {% endfor %}
                messaje_error(errors);
               
            {% endif %}
            
        </script>
        
    </div>
</section>
{% endblock  %}